* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  text-align: center;
}
#selectScreen {
  min-width: 50%;
  margin-top: 10%;
  background-color: rgb(188, 223, 165);
  border-radius: 10px;
  padding: 1rem;
}
@media only screen and (min-width: 1050px) {
  .container {
    width: 75%;
  }
}
#selectButtons {
  margin-top: 2rem;
}
#selectButtons .col {
  text-align: center;
  margin: 1rem 0;
}
.show {
  display: block;
}
.hide {
  display: none;
}
#questionContainer {
  background-color: rgb(75, 75, 140);
  margin-top: 2rem;
  padding: 1rem;
}
.input-group {
  margin: auto;
  width: 50%;
}
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.div1 {
  grid-area: 1 / 3 / 2 / 4;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.div3 {
  grid-area: 2 / 2 / 3 / 3;
}
.div4 {
  grid-area: 2 / 3 / 3 / 4;
}
.div5 {
  grid-area: 3 / 1 / 4 / 2;
}
.div6 {
  grid-area: 3 / 2 / 4 / 3;
}
.div7 {
  grid-area: 3 / 3 / 4 / 4;
}
.div8 {
  grid-area: 4 / 1 / 5 / 2;
}
.div9 {
  grid-area: 4 / 2 / 5 / 3;
}
.div10 {
  grid-area: 4 / 3 / 5 / 4;
}
.div11 {
  grid-area: 5 / 1 / 6 / 2;
}
.div12 {
  grid-area: 5 / 2 / 6 / 3;
}
.div13 {
  grid-area: 5 / 3 / 6 / 4;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
  box-shadow: none;
}
#startButton:active {
  box-shadow: 1px 1px 5px 5px white;
}
